/* Global CSS Styles - Important */

*,
*::before,
*::after {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    width: 100% !important;
    height: 100% !important;
    font-family: Arial, Helvetica, sans-serif !important;
    background: #f9f9f9 !important;
    color: #222 !important;
}
